<header class="c-page__header">
  <div class="container">
        <div style="margin-right: auto">
            {% if page.title != 'Home' %}
                <a id="no-hover" href="/">{{site.author}}</a>
            {% endif %}
        </div>
        <div
            {% if page.title == 'Blog' %}
                class="active"
            {% endif %}
        >
            <a href="{{ "/blog/" | prepend: site.baseurl }}">blog</a>
        </div>
        <div
             {% if page.title == 'Projects' %}
                class="active"
            {% endif %}
        >
            <a href="{{ "/projects/" | prepend: site.baseurl }}">projects</a>
        </div>
        <div>
            {% if site.enable_darkmode %}
                <div class = "toggle-container">
                  <a id = "light-toggle">
                      <i class="fas fa-moon"></i>
                      <i class="fas fa-sun"></i>
                  </a>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
</header>

<style>
    a {
        color: black;
        font-size: large;
    }
    a.hover {
        color: red;
    }
    .container {
        display: flex; 
        justify-content: flex-end; 
        width: 100%; 
        align-items: baseline;
        gap: 10px;
    }
    .active a {
        color: red;
    }
    #no-hover {
        color: black;
    }
</style>
